* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  background-color: rgb(27, 6, 85);
}

::-webkit-scrollbar {
	width:10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background:#333;
}

::-webkit-scrollbar-thumb {
	background: #d8802e;
  border-radius: 30px;
}

.social {
  display: flex;
  justify-content: end;
  margin: 20px;
  font-size: 30px;
}

.social i {
  padding: 10px;
}

.social a {
  color: #d8802e;
  transition: all .4s ease-out;
}

.social a:hover {
  transform: scale(1.1);
}

.text {
  display: block;
  color: #fc580c;
  text-align: center;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 30px;
  color: white;
}

.card img {
  margin: 20px;
  margin-bottom: 30px;
  width: 360px; 
  height: 450px;
  border-radius: 30px;
  transition: all .3s ease-out;
  cursor: pointer;
} 

.card img:hover{
  transform: scale(1.1);
} 

p {
  color:  yellowgreen;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 140px 0 40px 0;
  color: #d8802e;
}

@media screen and (max-width: 700px){
  .card img {
    margin: 20px;
    margin-bottom: 30px;
    width: 320px; 
    height: 450px;
    border-radius: 30px;
    transition: all .3s ease-out;
    cursor: pointer;
  } 
  
  .card img:hover{
    transform: none;
  } 
}

@media screen and (max-width: 340px){
  .card img {
    width: 280px; 
    height: 350px;
    margin-bottom: 20px;
    border-radius: 30px;
    transition: all .3s ease-out;
    cursor: pointer;
  } 
  
  .card img:hover{
    transform: none;
  } 
}